<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Hello, world.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>
      What influences Class VIII marks?      
    </title>

  </head>
  <body>
   <img src="{{STATIC_URL}}images/1a/books.png" height="500" width="400" / >
  <img src="{{STATIC_URL}}images/1a/bpl.png" height="400" width="400" / >
  <img src="{{STATIC_URL}}images/1a/category.png" height="400" width="400" />
  <img src="{{STATIC_URL}}images/1a/correctmathhw.png" height="500" width="400" / >
  <img src="{{STATIC_URL}}images/1a/distance.png" height="400" width="400" / >
  <img src="{{STATIC_URL}}images/1a/drawgeometry.png" height="400" width="400" / >
  <img src="{{STATIC_URL}}images/1a/explainanswers.png" height="500" width="400" / >
  <img src="{{STATIC_URL}}images/1a/fatheredu.png" height="400" width="400" / >
  <img src="{{STATIC_URL}}images/1a/fatheroccup.png" height="400" width="400" / >
  </body>
</html>
