<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Hello, world.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>
      What influences Class VIII marks?      
    </title>

  </head>
  <body>
   
   <img src="{{STATIC_URL}}images/fig2.png" height="650" width="1300" / >
  </body>
</html>
